<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <form [formGroup]="heroForm" (ngSubmit)="save()">
    <div>
      <label for="name">Hero name: </label>
      <input id="name" formControlName="name" placeholder="Name">
    </div>

    <div *ngIf="hasExtendedProperties">
      <div>
        <label for="power">Power: </label>
        <input id="power" formControlName="power" placeholder="Power">
      </div>
      <div>
        <label for="level">Level: </label>
        <input id="level" type="number" formControlName="level" placeholder="Level">
      </div>
      <div>
        <label for="health">Health: </label>
        <input id="health" type="number" formControlName="health" placeholder="Health">
      </div>
      <div>
        <label for="attack">Attack: </label>
        <input id="attack" type="number" formControlName="attack" placeholder="Attack">
      </div>
      <div>
        <label for="defense">Defense: </label>
        <input id="defense" type="number" formControlName="defense" placeholder="Defense">
      </div>
    </div>

    <button type="submit" [disabled]="!heroForm.valid">Save</button>
  </form>
  <button (click)="goBack()">Go Back</button>
</div>
